/* Style Portfolio by Anders Qvist 2024 */
/* Congratulations! No errors have been found */

/* GLOBAL STYLES
---------------------------------------- */
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
   box-sizing: border-box;
   font-size: 62.5%; /* Set the default to 10px */
}

*, *:before, *:after {
   box-sizing: inherit;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body {
   height: 100%; 
}

body {
   background: whitesmoke;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.5rem;
   line-height: 1.4;
}
h1, h2, h3 {
   font-family: 'Caveat', cursive;
   font-weight: normal;
   margin: 0;
}
h1 {
   font-size: 4rem;
}
h2 {
   font-size: 3.2rem;
}
h3 {
   font-size: 2.4rem;
}
h4 {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.6rem;
   font-style: italic;
}
p {
   margin: 1.5rem 0;
}
a {
   color: dodgerblue;
}
a:visited {
   color: blueviolet;
}
/* Hover effect */
a:hover {
   color: gold;
}
/* Focus effect */
a:focus {
   color: gold;
   outline: 2px solid orange;
}


/* Header
------------------------------------------ */
header.main-header {
   background: #ccc;  
}
header.main-header h1 {
   text-align: center;
}

/* Nav
------------------------------------------ */
.main-nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   background: #444;
   overflow: hidden;
}
.main-nav ul li a {
   display: block;
   letter-spacing: 0.1rem;
   text-align: center;
   text-decoration: none;
   color: #f7f7f7;
   background-color: #444;
   padding: 0.5rem 0;
   border-bottom: 1px solid #f7f7f7;
   transition: background-color 1s ease;
}
.main-nav li a.current {
   color: Gold;
   background-color: #333;
}

/* Hover effect */
.main-nav ul li a:hover {
   color: black; 
   background: lightblue;
}

/* Focus effect */
.main-nav ul li a:focus {
   color: black; 
   background: lightblue;
}

/* Breakpoint min-width 600px */
@media screen and (min-width: 600px) {
   header {
      padding-bottom: 1rem;
   }
   .main-nav {
      width: 100%;
   }
   .main-nav ul.flex-container-nav {
      max-width: 600px;
      margin: 0 auto;
      padding: 0.5rem 0;
      background: transparent;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;    
   }
   .main-nav ul li a {
      float: left;
      padding: 0.5rem 1rem;
      border: 1px solid #f7f7f7;
      border-radius: 0.5rem;
   }
   .main-nav ul li a:hover {
      border: 1px solid #333;
      box-shadow: none;
   }
   .main-nav ul li a:focus {
      border: 1px solid #333;
      box-shadow: none;
   }  
}

/* Newspaper */
/* Breakpoint min-width 800px */
@media screen and (min-width: 800px) {
   .newspaper {
      column-count: 2;
      column-gap: 2rem;
   }
   .newspaper p {
      margin: 0;
   }
}
/* HOME
---------------------------------------- */
.flex-container-home {
   width: 100%;
   display: flex;
   flex-direction: column;
}
.home .flexbox-home {
   flex: 1 0 auto;  
}
.home {
   background: url(../images/bg-home-office-studio.jpg);
   background-size: cover;
   height: 100%;  
}
.home .content-bg {
   background: rgb(255 255 255 / 0.9);
   max-width: 960px;  
   margin: 2rem;
   padding: 2rem;
   border-radius: 0.5rem;
   box-shadow: 0px 0px 5px rgb(0 0 0 / 0.3);
}

/* breakpoint 600px */
@media screen and (min-width: 600px) {
   .home {
      width: 100%;     
   }
}

/* breakpoint 800px */
@media screen and (min-width: 800px) {
   .flex-container-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
   }
   .flex-container-content > div {
      width: 48%;
   }
}
/* breakpoint 960px */
@media screen and (min-width: 960px) {
   .home .main {
      margin: 2rem;
   }
   .home .content-bg {
      margin: 2rem auto;
   }
}

/* ABOUT
--------------------------------------------------- */
.about .content-wrapper {
   max-width: 960px;
   margin: 0 auto;
   padding: 2rem;
}
.about .about-section h2 {
   border-bottom: 2px dashed #d3d4d6;
   margin-bottom: 1rem;
}
.about img {
   width: 200px;
   border-radius: 50%;
   box-shadow: 0px 0px 5px rgb(0 0 0 / 0.5);
}

/* breakpoint 800px */
@media screen and (min-width: 800px) {
   .flex-container-intro {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-bottom: 2rem;
   }
   .flexbox-portrait {
      width: 250px;
   }
}

/* Table
---------------------------------------- */
.table-item h3 {
   margin-left: -2rem;
}
table {
   border-collapse: collapse;
   box-shadow: 0 0 5px rgba(0, 0, 0, .5);
   margin: 1rem auto;
   border: .1rem solid Gold; 
}

table caption {
   padding-bottom: 0.5rem;
   letter-spacing: 0.1rem;
}

th, td {
   font-size: 1.5rem;
   text-align: left;
   padding: .5rem .5rem;
}

th {
   font-weight: bold;
   background: Gold;   
}
tr:nth-child(even) { background: #FFF7CC; }
tr:nth-child(odd) { background: #FFFFF0; }

/* breakpoint 600px */
@media screen and (max-width: 600px) {
   table {
      margin-left: -2rem;
      padding: 0;
   }
   th, td {
      font-size: 1.2rem;
      text-align: left;
      padding: .5rem .5rem;
   }
}

/* Work Expirience
---------------------------------------- */
.work-item {
   display: grid;
   grid-template-columns: 1fr 2fr;
   column-gap: 2rem;
   margin: 2rem 0;
}
.work-details h3 {
   line-height: 1;
}
.work-details p {
   margin: 0;
}
.work-summary p:first-child {
   margin-top: 0;
}

/* Education
--------------------------------------------------- */
.education-item {
   /* border: 1px dotted red; */
   margin: 2rem 0;
}
.education-item p {
   margin-top: 0;
}

/* PROJECTS
--------------------------------------------------- */
.projects .projects-section::before {
   background: url(../images/bg-home-office-studio.jpg) center;
   background-size: cover;
   content: "";
   display: block;
   height: 375px;
}
.projects .projects-wrapper {
   max-width: 960px;
   margin: 0 auto;
   padding: 2rem;
}
.projects .projects-wrapper h2 {
   border-bottom: 2px dashed #d3d4d6;
   margin-bottom: 1rem;
}

/* Project */
.projects .project-item {
   max-width: 500px;
   background: white;
   margin: 2rem auto;
   padding: 2rem;
   border-radius: 0.5rem;
   box-shadow: 0px 0px 5px rgb(0 0 0 / 0.3);
}
.projects .project-item img {
   width: 100%;
   margin-top: 1rem;
   border-radius: 0.5rem;
   box-shadow: 3px 3px 5px rgb(0 0 0 / 0.5);
}
/* breakpoint 800px */
@media screen and (min-width: 800px) {
   .projects .flex-container-project {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
   }
   .project-item {
      width: 350px;
   }
   
}

/* CONTACT
--------------------------------------------------- */
.flex-container-contact {
 display: flex;
 flex-direction: column;
 justify-content: space-between;  
}
.contact .flexbox-contact-1 {
   flex: 1 0 auto;  
}

.contact .content-wrapper {
   max-width: 960px;
   margin: 0 auto;
   padding: 2rem;
}
.contact h2 {
   border-bottom: 2px dashed #d3d4d6;
}

/* Address */
.contact .address-section img {
   width: 300px;
   border-radius: 0.5rem;
   box-shadow: 3px 3px 5px rgb(0 0 0 / 0.5);
   margin-top: 2rem;
}
.contact address {
   margin: 2rem 0;
}
/* breakpoint 800px */
@media screen and (min-width: 800px) {
   .contact .address-section {
      padding-bottom: 2rem;
   }
   .contact .flex-container-address {
      display: flex;
      flex-flow: row-reverse;
      justify-content: flex-end;
   }
   .contact .flex-container-address address {
      width: 200px;
   }
}

/* Form */
.contact form {
   margin: 2rem 0;
}
.contact legend {
   letter-spacing: 0.1rem;
}
.contact fieldset {
   border: 1px solid #d3d4d6;
   padding-inline: 2rem;
   border-radius: 0.5rem;
}
.contact .form-section label {
   line-height: 2;
   letter-spacing: 0.1rem;
}
.contact .form-section .btn {
   margin: 1rem 0;
   padding: 0.5rem 1rem;
   color: #f7f7f7;
   background: #444;
   letter-spacing: 0.1rem;
   border: 2px solid #999;
   border-radius: 0.5rem;
}
.contact .form-section .btn:hover {
   color: black;
   background: lightblue;
   transition: background-color 1s ease;   
}
.contact .form-section .btn:focus {
   color: black;
   background: lightblue;
   transition: background-color 1s ease;  
   outline: 2px solid orange;  
}
/* breakpoint 800px */
@media screen and (min-width: 800px) {
   .contact .flex-container-form {
      display: flex;
      flex-flow: row;
   }
   .contact .flexbox-form-1 {
      width: 300px;
   }
   
}

/* FOOTER
--------------------------------------------------- */
footer {
   color: #f7f7f7;
   background-color: #333;
}
footer .flex-container-socials {
   padding-top: 1rem;
}
footer p {
   font-size: 1.4rem;
   padding-bottom: 1rem;
}
footer a {
   color: Dodgerblue;
}
footer a:hover {
   color: gold;
}
footer .socials {
   list-style-type: none;
   padding: 0;
}
footer .socials li {
   display: inline-block;
   margin-left: 1rem;
}
footer .socials img {
   width: 32px;
}
footer .socials img:hover {
   opacity: 0.5;
}

/* breakpoint 600px */
@media screen and (min-width: 860px) {
   footer .flex-container-socials {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      max-width: 960px;
      margin: 0 auto;
   }
}
/* breakpoint 859px */
@media screen and (max-width: 859px) {
   footer .flex-container-socials {
      text-align: center;
      padding-bottom: 2rem;
   }
}