/* Style Portfolio by Anders Qvist 2024 */

/* GLOBAL STYLES
---------------------------------------- */
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
   box-sizing: border-box;
   font-size: 62.5%; /* Set the default to 10px */
}

*, *:before, *:after {
   box-sizing: inherit;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body {
   height: 100%; 
 }

body {
   background: #f7f7f7;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.6rem;
   line-height: 1.4;
}
h1, h2, h3 {
   font-family: 'Caveat', cursive;
   font-weight: normal;
}
h1 {
   font-size: 4rem;
}
h2 {
   font-size: 3.2rem;
}
h3 {
   font-size: 2.4rem;
}
p {
   padding-bottom: 2.4rem;
}
a {
   color: dodgerblue;
}
a:visited {
   color: blueviolet;
}
a:hover {
   color: gold;
}
a:focus {
   color: gold;
}


/* Header
------------------------------------------ */
header.main-header {
   background: #ccc;
}
header.main-header h1 {
   text-align: center;
}

/* Nav
------------------------------------------ */
.main-nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   background: #444;
   overflow: hidden;
}
.main-nav ul li a {
   display: block;
   text-align: center;
   text-decoration: none;
   color: #f7f7f7;
   background-color: #444;
   padding: 0.5rem 0;
   border-bottom: 1px solid #f7f7f7;
}
.main-nav li a.current {
   color: Gold;
   background-color: #333;
}

/* Hover effect */
.main-nav ul li a:hover {
   color: black; 
   background: #666;
}

/* Focus effect */
.main-nav ul li a:focus {
   color: black; 
   background: #666;
}

/* Breakpoint min-width 600px */
@media screen and (min-width: 600px) {
   header {
      padding-bottom: 1rem;
   }
   .main-nav {
      width: 100%;
   }
   .main-nav ul.flex-container-nav {
      max-width: 600px;
      margin: 0 auto;
      padding: 0.5rem 0;
      background: transparent;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;    
   }
   .main-nav ul li a {
      float: left;
      padding: 0.5rem 1rem;
      border: 1px solid #f7f7f7;
      border-radius: 0.5rem;
   }
   .main-nav ul li a:hover {
      border: 1px solid #333;
      box-shadow: none;
   }
   .main-nav ul li a:focus {
      border: 1px solid #333;
      box-shadow: none;
   }  
}

/* HOME
---------------------------------------- */
.flex-container-home {
   width: 100%;
   display: flex;
   flex-direction: column;
}
.home .flexbox-home-1 {
   flex: 1 0 auto;  
}
.home {
   background: url(../images/bg-home-office-studio.jpg) no-repeat;
   background-size: cover;
   height: 100%;
}
.home .content-bg {
   background: rgb(255 255 255 / 0.9);
   max-width: 960px;
   margin: 0 auto;
   padding: 2rem;
}

/* breakpoint 600px */
@media screen and (min-width: 600px) {
   .home .main {
      width: 100%;     
   }
}

/* breakpoint 800px */
@media screen and (min-width: 800px) {
   .newspaper {
      column-count: 2;
      column-gap: 2rem;
   }
   .newspaper p:first-of-type {
      margin: 0;
   }
}
/* breakpoint 960px */
@media screen and (min-width: 960px) {
   .home .content-bg {
      border-radius: 0 0 1rem 1rem;
   }
}

/* CONTACT
--------------------------------------------------- */
.flex-container-contact {
 display: flex;
 flex-direction: column;
 justify-content: space-between;  
}
.contact .flexbox-contact-1 {
   flex: 1 0 auto;  
}

.contact .content-wrapper {
   max-width: 960px;
   margin: 0 auto;
   padding: 2rem;
}
.contact h2 {
   border-bottom: 2px dashed #d3d4d6;
}

/* Address */
.contact .address-section img {
   width: 300px;
   border-radius: 0.5rem;
   box-shadow: 5px 5px 5px rgb(0 0 0 / 0.5);
   margin-top: 2rem;
}
/* Make Transitions */
.contact .address-section img.expand {
   transition: width 3s linear 1s;
}
.contact .address-section img.expand:hover {
   width: 400px;
   cursor: pointer;
}
.contact address {
   margin: 2rem 0;
}
/* breakpoint 800px */
@media screen and (min-width: 800px) {
   .contact .address-section {
      padding-bottom: 2rem;
   }
   .contact .flex-container-address {
      display: flex;
      flex-flow: row-reverse;
      justify-content: flex-end;
   }
   .contact .flex-container-address address {
      width: 200px;
   }
}

/* Form */
.contact form {
   margin: 2rem 0;
}
.contact legend {
   letter-spacing: 0.1rem;
}
.contact fieldset {
   border: 1px solid #d3d4d6;
   padding-inline: 2rem;
   border-radius: 0.5rem;
}
.contact .form-section label {
   line-height: 2;
   letter-spacing: 0.1rem;
}
.contact .form-section .btn {
   margin: 1rem 0;
   padding: 0.5rem 1rem;
   color: #f7f7f7;
   background: #444;
   letter-spacing: 0.1rem;
   border: 2px solid #999;
   border-radius: 0.5rem;
}
.contact .form-section .btn:hover {
   color: black;
   background: #666;   
}
/* breakpoint 800px */
@media screen and (min-width: 800px) {
   .contact .flex-container-form {
      display: flex;
      flex-flow: row;
   }
   .contact .flexbox-form-1 {
      width: 300px;
   }
   
}

/* FOOTER
--------------------------------------------------- */
footer {
   color: #f7f7f7;
   background-color: #333;
}
footer p {
   font-size: 1.4rem;
   padding-bottom: 1rem;
}
footer a {
   color: Dodgerblue;
}
footer a:hover {
   color: gold;
}
footer .socials {
   list-style-type: none;
   padding: 0;
}
footer .socials li {
   display: inline-block;
   margin-left: 1rem;
}
footer .socials img {
   width: 32px;
}
footer .socials img:hover {
   opacity: 0.5;
}

/* breakpoint 600px */
@media screen and (min-width: 860px) {
   footer .flex-container-socials {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      max-width: 960px;
      margin: 0 auto;
   }
}
/* breakpoint 859px */
@media screen and (max-width: 859px) {
   footer .flex-container-socials {
      text-align: center;
      padding: 1rem;
   }
}